@{
    ViewBag.Title = "about";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Holiday - About</title>
    |
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="~/Content/css/flexslider.css" rel="stylesheet">
    <link href="~/Content/css/templatemo-style.css" rel="stylesheet">

    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

</head>
<body class="tm-gray-bg" style="background-repeat: no-repeat;background-size:100% 100%;">
    <div class="tm-header" style="margin-top: -30px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-4 col-sm-3 tm-site-name-container">
                    <a href="#" class="tm-site-name">Holiday</a>
                </div>
                <div class="col-lg-6 col-md-8 col-sm-9">
                    <div class="mobile-menu-icon">
                        <i class="fa fa-bars"></i>
                    </div>
                    <nav class="tm-nav">
                        <ul>
                            <li>@Html.ActionLink("Home", "index", "Home")</li>
                            <li><a href="#" class="active">About</a></li>
                            <li>@Html.ActionLink("Log Out","logout","Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
        <div class="section-margin-top about-section">
            <div class="row">
                <div class="tm-section-header">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <hr>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <h2 class="tm-section-title">Who I Am</h2>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="margin-left:550px;">
                    <div class="tm-about-box-1">
                        <a href="#"><img src="~/Content/Images/about-4.jpg" alt="img" class="tm-about-box-1-img"></a>
                        <h3 class="tm-about-box-1-title">Tassawar Younas <span>( Founder )</span></h3>
                        <p class="margin-bottom-15 gray-text">A softwre engineering.I amde this website for my final project</p>
                    </div>
                </div>
                
            </div>
        </div>
    <section class="tm-white-bg section-padding-bottom">
        <div class="container">
            <div class="row">
                <div class="tm-section-header section-margin-top">
                    <div class="col-lg-4 col-md-3 col-sm-3">
                        <hr>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <h2 class="tm-section-title">What we do</h2>
                    </div>
                    <div class="col-lg-4 col-md-3 col-sm-3">
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Testimonial -->
                <div class="col-lg-12" style="margin-left:-160px;">
                    <div class="tm-what-we-do-right">
                        <div class="tm-about-box-2 margin-bottom-30">
                            <img src="~/Content/Images/about-2.jpg" alt="image" class="tm-about-box-2-img">
                            <div class="tm-about-box-2-text">
                                <p class="tm-about-box-2-description gray-text">We wil give you perfect hotel at your desire place.We have complete research of hotels.Use our website to reserve room so you do not have to walk every door of hotels.</p>
                            </div>
                        </div>
                        <div class="tm-about-box-2">
                            <img src="~/Content/Images/about-3.jpg" alt="image" class="tm-about-box-2-img">
                            <div class="tm-about-box-2-text">
                                <p class="tm-about-box-2-description gray-text">We have best team which can instruct in your tours.We have good packages of tour and related hotels.Contact us.We will prove good option for yo.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="tm-black-bg">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="~/Content/js/jquery-1.11.2.min.js"></script>
    <!-- jQuery -->
    <script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>
    <!-- bootstrap js -->
    <script type="text/javascript" src="~/Content/js/jquery.flexslider-min.js"></script>
    <!-- flexslider js -->
    <script type="text/javascript" src="~/Content/js/templatemo-script.js"></script>
    <!-- Templatemo Script -->
    <script type="text/javascript" src="~/Content/js/moments.js"></script>
    <!-- jQuery -->
    <script type="text/javascript" src="~/Content/js/bootstrap-datetimepicker.min.js"></script>
    <!-- bootstrap js -->

    <script>
        $(function() {

            $('#hotelCarTabs a').click(function (e) {
                e.preventDefault()
                $(this).tab('show')
            })

            $('.date').datetimepicker({
                format: 'MM/DD/YYYY'
            });
            $('.date-time').datetimepicker();

            $(function() {

                https://css-tricks.com/snippets/jquery/smooth-scrolling/
                    $('a[href*=#]:not([href=#])').click(function() {
                        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                            var target = $(this.hash);
                            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                            if (target.length) {
                                $('html,body').animate({
                                    scrollTop: target.offset().top
                                }, 1000);
                                return false;
                            }
                        }
                    });		  	
            });
            $(window).load(function(){
                // Flexsliders
                $('.flexslider.flexslider-banner').flexslider({
                    controlNav: false
                });
                $('.flexslider').flexslider({
                    animation: "slide",
                    directionNav: false,
                    slideshow: false
                });
            });
    </script>
</body>
</html>

