@model HotelReservation.Models.Hotel
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<p>Name: @Model.name</p>
<p>Degree: @Model.country</p>
<p>Name: @Model.name</p>
<p>Degree: @Model.city</p>

<p>Are you sure you wan to delete?</p>
<a href="~/Home/DeleteConfirm/@Model.name">Yes</a